@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 152 33% 15%;
    --card: 60 56% 91%;
    --card-foreground: 152 33% 15%;
    --popover: 60 56% 91%;
    --popover-foreground: 152 33% 15%;
    --primary: 152 33% 37%;
    --primary-foreground: 60 50% 98%;
    --secondary: 152 20% 60%;
    --secondary-foreground: 152 33% 15%;
    --muted: 152 20% 88%;
    --muted-foreground: 152 20% 40%;
    --accent: 52 51% 86%;
    --accent-foreground: 152 33% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 152 20% 80%;
    --input: 152 20% 95%;
    --ring: 152 33% 37%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 152 15% 10%;
    --foreground: 60 50% 91%;
    --card: 152 15% 10%;
    --card-foreground: 60 50% 91%;
    --popover: 152 15% 10%;
    --popover-foreground: 60 50% 91%;
    --primary: 152 33% 37%;
    --primary-foreground: 60 50% 98%;
    --secondary: 152 15% 20%;
    --secondary-foreground: 60 50% 91%;
    --muted: 152 15% 20%;
    --muted-foreground: 60 30% 70%;
    --accent: 152 33% 37%;
    --accent-foreground: 60 50% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 152 15% 25%;
    --input: 152 15% 25%;
    --ring: 152 33% 37%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
